@using BankApplication.Models.Entity;
@using Microsoft.AspNetCore.Identity;
@model Dictionary<BankApplication.Models.Entity.EnterpriseSpecialist,User>
    <h1>Statistic</h1>
    <h2>To see client actions in the bank, select enterprise specialist</h2>


            
@foreach(var SpecialistUser in @Model)
{
    <div>
        <a asp-action="PersonalEnterpriseStatistics" asp-route-enterpriseId="@SpecialistUser.Key.Id">@SpecialistUser.Value.UserName</a>
    </div>
   
    
           @* <form asp-action="RejectOperation" asp-route-userName='@user.Id' method="post">
                    
                <button type="submit"> Reject</button>
            </form>
          *@
            
           
         
}
