<div>
    <a asp-action="ClientRegistr" >Client registration</a>
</div>

<div>
    <a asp-action="CreditRegistr" >Credit registration</a>
</div>

<div>
    <a asp-action="InstallmentRegistr" >Installment registration</a>
</div>

<div>
    <a asp-action="Statistics" >Client's money statistics</a>
</div>

<div>
    <a asp-action="EnterprisesStatistics" >Enterprises action statistics</a>

</div>

<div>
    <a asp-action="ChooseEnterpriseForSP">Applications for salary project</a>
</div>

<div>
    <a asp-action="WatchEnterpriseTransactionRequests">Transaction from enterprises to worker</a>
</div>





