@using Microsoft.AspNetCore.Identity;
@model List<BankApplication.Models.MoneyStatictic>
    <h1>Statistic</h1>
<table>
    <tr>
        <th>UserName</th>
        <th>Operation</th>
    </tr>


            
@foreach(var user in @Model)
{
    <tr>
        <td>@user.UserName</td>
        <td>@user.NameOpration</td>
        <td>
           @* <form asp-action="RejectOperation" asp-route-userName='@user.Id' method="post">
                    
                <button type="submit"> Reject</button>
            </form>
          *@
            
           
         </td>
         </tr>
}
            
    
 </table>
