@model BankApplication.ViewModel.ChangePassword
@{
    ViewBag.Title = "Изменение пароля";
}
<h2>Изменение пароля для пользователя @Model.Email</h2>
<form asp-action="ChangePassword" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger"></div>
 
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
     <div class="form-group">
        <label asp-for="OldPassword" >Старый пароль</label>
        <input type="text" asp-for="OldPassword"  />
    </div>
    <div >
        <label asp-for="NewPassword" >Новый пароль</label>
        <input type="text" asp-for="NewPassword" />
    </div>
    <div >
        <input type="submit" value="Сохранить"  />
    </div>
</form>