@model BankApplication.ViewModel.Client.AddingGettingMoney
<form asp-action="AddSumToAccount" method="post">
   <div >
        <label asp-for="Sum">Sum</label>
        <input asp-for="Sum" />
        
    </div>
    <button type="submit">OK</button>

</form>
