<div>
    <a asp-action="Bank" asp-controller="Client">Banks</a>
</div>

<div>
    <a asp-action="ChooseBankAccount" asp-controller="Client">Accounts</a>
</div>

<div>
   <a asp-action="ChooseBankCredit" asp-controller="Client">Credits</a>
</div>

<div>
    <a asp-action="ChooseBankInstallment" asp-controller="Client">Installments</a>
</div>

<div>
    <a asp-action="TransferApply" asp-controller="Client">Transfers</a>
</div>

<div>
    <a asp-action="ChooseBankSalaryProject" asp-controller="Client">Application for salary project</a>
</div>
 


