<form method="post" asp-action="Create" asp-controller="Roles">
    <div >
        <label for="name">Новая роль</label>
        <input name="name" />
    </div>
    <button type="submit">Добавить</button>
</form>
