@model List<double>

    @{
    ViewBag.Title = "Index";
    }

    @for(int i=0;i<@Model.Count;i++)
    {

         <label> In your account is @Model[i]</label>
        <label> Current sum in credit account is @Model[++i]</label>
         <label> Must sum in credit account is @Model[++i]</label>
         <form method="post" asp-action="PutSumToCreditOrInstallment" asp-route-CreditId=@Model[3]> 
             <input type="text" name="Sum" />
              <button type="submit">OK</button>
         </form>
         break;
    }
    
      
        
    
   

