<div>
    <a asp-action="Statistics">Statistic</a>
</div>
<div>
    <a asp-action="ChooseBankApplicationsForSP">Applications for salary project</a>
</div>
<div>
    <a asp-action="WatchEnterpriseTransactionRequests">Transaction from enterprises to worker</a>
</div>
